
@viewport 
{
	zoom: 1.0;
	width: extend-to-zoom;
}
@-ms-viewport 
{
	width: extend-to-zoom;
	zoom: 1.0;
}
#header
{
	height:600px;
	background-color:#191082;
	padding-top: 70px;
	line-height:10px;
}
#about
{
	width:50%;
	height:550px;
	float:left;
	margin-left:10%;
}
.fa-linkedin
{
	color:white;
	font-size:50px; 
	background-color:#0073ff;
}
.fa-github
{
	color:white;
	background-color:black;
	font-size:50px;
	margin-left:20px;
}
.fa-code
{
	color:white;
	background-color:#191082;
	font-size:50px;
	margin-left:20px;
}
#aboutpic
{
	width:30%;
	height:450px;
	background-color: red;
	float:left;
	margin-right:10%;
}
#aboutpic img
{
	width:100%;
	height:450px;
}
/* SKILLS */
.container {
  display: flex;
  position: relative;
  margin-left:5%;
  margin-right:5%;
}

.panel {
  background-color:green;
  width:50px;
  height: 40vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
  width:500px;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 200vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
/*EDUCATION*/
.timeline {
    position: relative;
    margin: 0 auto;
	background-color:purple;
	padding-bottom:2%;
	padding-right:2%;
	padding-left:2%;


    
}

.timeline ul li {
    margin-bottom: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.point {
    min-width: 30px;
    height: 30px;
    background-color: #be9fe1;
    border-radius: 100%;
    z-index: 2;
    border: 3px #333333 solid;
    position: relative;
    right: 15px;
}

.timeline ul li .content {
    width: 50%;
    padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content {
    padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
    padding-right: 0;
}

.timeline ul li:nth-child(even) .content {
    padding-right: 0;
}

.timeline ul li:nth-child(even) .date {
    padding-left: 0;
}

.timeline ul li .date {
    width: 50%;
    padding: 0 20px;
    font-weight: normal;
}

.timeline ul li .date h4 {
    background-color: #e1ccec;
    width: 150px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
}

.timeline ul li .content h3 {
    padding: 10px 20px;
    background-color: #be9fe1;
    margin-bottom: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	
}

.timeline ul li .content p {
    padding: 10px 20px;
    background-color: #e1d9ec;
    margin-top: 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	height:150px;
}

.timeline ul li:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
    float: right
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: #333333;
}
@media (max-width: 800px) {
    .point {
        min-width: 15px;
        height: 15px;
    }

    html, body {
        font-size: 15px;
    }

}

@media (max-width: 650px) {
    html, body {
        font-size: 14px;
    }
    
    .point {
        min-width: 12px;
        height: 12px;
    }

}

@media (max-width: 450px) {
    html, body {
        font-size: 10px;
    }

    p {
        padding: 10px !important;
    }
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 1px 10px;
  
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 10px -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: white;
  border-style:solid;
  border-width:1px;
  border-color:orange;
}
.column :hover
{
	background-color:orange;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/*
#experience
{
	height:400px;
	background-color:cyan;

	padding-left:3%;
} 
#con1 
{
	width:30%;
	height:300px;
	background-color:orange;
	margin-bottom:20px;
	float:left;
	margin-right:3%;
}
#con2 
{
	width:30%;
	height:300px;
	background-color:red;
	margin-bottom:20px;
	float:left;
	margin-right:2%;
}
#con3
{
	width:30%;
	height:300px;
	background-color: green;
	float:right;
	margin-right:4%;
	
}
*/

/*PROJECTS*/
.work__box {
    display: flex;
    align-items: center;
	font-size:20px;
}

@media(max-width: 900px) {
    .work__box {
        align-items: initial;
        flex-direction: column-reverse;
    }
}

.work__box:not(:last-child) {
    margin-bottom: 30px;
}

@media(max-width: 500px) {
    .work__box:not(:last-child) {
        margin-bottom: 20rem;
    }
}

.work__links {
    display: flex;
}

.work__text {
	margin-left:15%;
	width:30%;
}


.work__code {
    display: block;
    height: 3rem;
    margin-left: var(--gutter-normal);
    transition: all .3s;
	border-radius:50;
}

.work__code:hover {
    transform: scale(1.2);
}

.work__image-box {
    margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
    .work__image-box {
        flex: 1;
        margin: 0 0 0 60px;;
    }
}

@media(max-width: 900px) {
    .work__code {
        height: 4rem;
    }
}

.link__text {
    position: relative;
    display: inline-block;
    padding: .6rem;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid var(--pink);
}
.link__text:hover
{
	border-width:10px;
	background-color:red;
}
	
/*certifications*/

